<%= form_for @list do |f| %>

<%= render 'shared/error_messages', object: f.object %>

 <%= f.label "List title" %>
 <%= f.text_field :title %>
 <ul>
 <%= f.fields_for :tasks  do |task| %>
 <li>
  <%= task.label :title %>
  <%= task.text_field :title %>

  <%= task.label :description %>
  <%= task.text_area :description %>

  <%= task.label :status %>
  <%= task.select :status, Task.statuses.keys.map{ |s| [s, s] } %>

  <%= task.label :due_date %>
  <%= task.date_field :due_date %>

  
  <%= task.collection_select :user_id, User.all, :id, :email, include_blank: 'Choose a User' %>
  </li>
  <% end %>
</ul>
<%= f.submit %>
<% end %>