<div id="error_explanation" class="field_with_errors"></div>
<h3 class="listTitle" data-id= <%=@list.id %>><%= @list.title %></h3>  
<ul class="listshow">
  <% @list.tasks.each do |task| %>
    <% if task.id %>
     <li id="task-<%= task.id %>">
        <span class="title" id="taskTitle-<%= task.id %>"><%= link_to task.title, list_task_path(@list, task),:class => "task_title" %> |</span>
        <span id="taskStatus-<%= task.id %>"><%= task.status %> |</span>
        <span id="taskDuedate-<%= task.id %>"><%= task.due_date %> |</span>
        <span id="taskUser-<%= task.id %>"><%= task.user_info ||  link_to('Claim Task', edit_list_task_path(@list,task)) %></span>
        
      </li>
  <% end %>
  <% end %>
  <%#= link_to_if(current_user.admin?, 'Add a Task', new_list_task_path(@list))  %>
</ul>
<%= form_for([@list, Task.new]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title , disabled: !current_user.admin?%>

  <%= f.label :description %>
  <%= f.text_area :description, disabled: !current_user.admin? %>

  <%= f.label :status %>
  <%= f.select :status, Task.statuses.keys.map{ |s| [s, s] } %>

  <%= f.label :due_date %>
  <%= f.date_field :due_date,disabled: !current_user.admin? %>

  
  <%= f.collection_select :user_id, User.all, :id, :email, include_blank: 'Choose a User' %>

 
  <%= f.submit %>
  <% end %>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_list_path(@list) %> |
  <%= link_to 'Delete', list_path(@list), method: :delete, data: { confirm: "You sure?" }%>
  <%end %> |
<%= link_to 'Back', :back %>


