
<h3 class="listTitle"><%= @list.title %></h3>  
<ul>
  <% @list.tasks.each do |task| %>
     <li id="task-<%= task.id %>">
        <span class="title" id="taskTitle-<%= task.id %>"><%= link_to task.title, list_task_path(@list, task) %> |</span>
        <span id="taskStatus-<%= task.id %>"><%= task.status %> |</span>
        <span id="taskDuedate-<%= task.id %>"><%= task.due_date %> |</span>
        <span id="taskUser-<%= task.id %>"><%= task.user_info ||  link_to('Claim Task', edit_list_task_path(@list,task)) %></span>
        
      </li>
  <% end %><br>
  <%= link_to_if(current_user.admin?, 'Add a Task', new_list_task_path(@list))  %>
</ul>


<% if current_user.admin? %>
  <%= link_to 'Edit', edit_list_path(@list) %> |
  <%= link_to 'Delete', list_path(@list), method: :delete, data: { confirm: "You sure?" }%>
  <%end %> |
<%= link_to 'Back', :back %>



