
<h3><%= @list.title %></h3>  
<ul>
  <% @list.tasks.each do |task| %>
     <li>
        <%= link_to task.title, list_task_path(@list, task) %> |
        <%= task.status %> |
        <%= task.due_date %> |
        <%= task.user_info ||  link_to('Claim Task', edit_list_task_path(@list,task)) %>
      </li>
  <% end %><br>
  <%= link_to_if(current_user.admin?, 'Add a Task', new_list_task_path(@list))  %>
</ul>

<%= link_to_if(current_user.admin?, 'Edit', edit_list_path(@list)) %> |
<% if current_user.admin? %>
  <%= link_to 'Delete', list_path(@list), method: :delete, data: { confirm: "You sure?" }%>
  <%end %> |
<%= link_to 'Back', :back %>


