<h2> My Task Lists </h2>

<% @lists.uniq.each  do |list| %>
 <h3><%= link_to list.title, list_path(list) %></h3>
 <ul>
 <% list.tasks.each do |task| %>
    <% if  task.user == current_user %>
 <li>
    <%= link_to task.title, list_task_path(list, task) %> |
    <%= task.status %> |
    <%= task.due_date %> |
    Assigned to: <%= task.user.email %>
  </li>
    <% end %>
  <% end %>
</ul>
<% end %>


