<%= form_for([@list, @list.tasks.build]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title , disabled: !current_user.admin?%>

  <%= f.label :description %>
  <%= f.text_area :description, disabled: !current_user.admin? %>

  <%= f.label :status %>
  <%= f.select :status, Task.statuses.keys.map{ |s| [s, s] } %>

  <%= f.label :due_date %>
  <%= f.date_field :due_date,disabled: !current_user.admin? %>

  
  <%= f.collection_select :user_id, User.all, :id, :email, include_blank: 'Choose a User' %>

 
  <%= f.submit %>
  <% end %>


 <script type="text/javascript" charset="utf-8">
$(function () {
    $('form').submit(function(event) {
      event.preventDefault();
      var values = $(this).serialize();
      var posting = $.post(this.action , values);

      posting.done(function(task){
        var taskLi = "";
        taskLi += "<li>"+ "<a class=task_title href=/lists/"+ task["list_id"]+ "/tasks/"+ task["id"] + ">"+ task["title"] + "</a></h3> |" ;
             taskLi +=  task["status"] + ' | ' ;
             taskLi +=  task["due_date"] + ' | ' ;
             taskLi +=  "Assigned to: " + task["user_name"] + '</li><br>' ;
             $("ul.listshow").append(taskLi);
      });
    });
  });
</script>