<h3 class="taskTitle"> <%= @task.title %> in <%= link_to @task.list.title, list_path(@task.list) %></h3>

<p class="taskDescription">Description: <%= @task.description %> </p>
<p class="taskStatus">Status: <%= @task.status %> </p>
<p class="taskDuedate">Due Date: <%= @task.due_date %> </p>
<p class="taskUser">Assigned to:  <%= @task.user_info || 'None' %> </p>


<% if current_user.admin? %>
  <%= link_to "Edit" , edit_list_task_path(@list, @task) %> |
  <%= link_to 'Delete', list_task_path(@list,@task), method: :delete, data: { confirm: "You sure?" }%>
  <%else %>
    <%= link_to "Update Status" , edit_list_task_path(@list, @task) %> |
    <%= link_to 'Claim Task', edit_list_task_path(@list,@task) %>
  <%end %> 
