<% if logged_in? %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= current_user.email %></h1><br>
      <%= link_to "All Task Lists", lists_path %><br><br>
      <%= link_to "My Task Lists", mylists_path %><br><br>
      <%= link_to "My Completed Tasks", mylists_tasks_completed_path %><br><br>
      <%= link_to "My Overdue Tasks",mylists_tasks_overdue_path %>
    </section>
  </aside>
<% end %>

<script type="text/javascript">
$(function(){
$("a[href='/mylists']").on("click", function(e) {
      e.preventDefault();
    $.get("/mylists.json", function(data){
      var taskList = "<h2> My Task Lists </h2>";
      data.forEach(function(task) {
            taskList +=  "<h3><a href=/lists/"+ task["list_id"]+">"+ task["list_info"]+"</a></h3>"  ;
             taskList += "<ul><li>" + task["title"] + ' | ' ;
             taskList +=  task["status"] + ' | ' ;
             taskList +=  task["due_date"] + ' | ' ;
             taskList +=  "Assigned to: " + task["user_info"] + '</li><br>' ;
            taskList += '</ul>';
      });
      $(".col-md-8").html(taskList);
    });
  });
});
</script>