<!DOCTYPE html>
<html>
<head>
  <title>GroupTaskManagerRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/sidebar' %>

<div class="container">
<div class="col-md-8">
  <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
  <%= yield %>
</div>
 </div>
</body>
</html>


<script type="text/javascript" charset="utf-8">
$(function() {
  $("a[href='/mylists']").on("click", function(e) {
      e.preventDefault();
    $.get("/mylists.json", function(data){
      var taskList = "";
      data.forEach(function(list) {
        taskList += "<ul><h3>" + list["title"] + "</h3>" ;
          list.tasks.forEach(function(task) {
             taskList += '<li>' + task["title"] + '|' ;
             taskList +=  task["status"] + '|' ;
             taskList +=  task["due_date"] + '|' ;
             taskList +=  "Assigned to: " + task["user_info"] + '</li><br>' ;
          });
        taskList += '</ul>';
      });
      $(".col-md-8").html(taskList);
    });
  });
});
</script>